.about-conatiner{
    width: 100%;
    height: 90vh;
    
   
}
.main-con{
    /* background-image: linear-gradient(to top , #001529, #00293e, #00293e, #00293e, #003e4d, #005352, #006850, #006850, #006850, #006850, #005352, #003e4d, #00293e, #001529); */
}
.about-heading{
    font-size: 50px;
    font-weight: bold;
    padding-left:20px;
    width: 70%;
    color: white;
    /* margin-top: 30px; */
}
.about-main{
    margin-top: 30px;
    background-color: #3cf7a2;
    /* background-image: linear-gradient(to bottom,#001529 20%, white ); */
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);    width: 97%;
    margin-left:3%;
    height: 100%;
    border-top-left-radius: 40px;
    padding-top: 30px;
    display: flex;
}
.tabs-conatiner{
    width: 30%;
    height: 100%;
    padding: 0 20px;
    overflow-y: scroll;
}
.tabs-conatiner::-webkit-scrollbar {
    display: none;
}
.tab{
    border-radius: 20px;
    width: 100%;
    min-height: 150px;
    height: auto;
    border: 3px solid white;
    margin: 10px 0;
    padding: 0 10px;
    background-color:#c3edda;
    cursor: pointer;
}
.tab h1{
    font-size: 20px;
    font-weight: 600;
}
.gif-conatiner{
    width: 70%;
    height: 100%;
    padding-top: 10px;
    border-top-left-radius: 20px;

}
.gif{
    height: 100%;
    width: 100%;
    border-top-left-radius: 20px;
    background-color: white;
}
.gif-two{
    background-color: #001529;
}
.gif-three{
    background-color: black;
}

@media only screen and (max-width: 768px) {
    .about-conatiner{
        /* min-height:100vh ; */
        height: auto;
    }
    .about-main{
        flex-direction: column;
        
    }
    .about-heading{
        font-size: 25px;
        
        width: 100%;
    }
    .tabs-conatiner{
        width: 100%;  
    }
    .tab{
        height: auto;
    }
    .gif-conatiner{
        width: 100%;
    }
}