.forgotpasswor-container {
  background-color: blue;
  width: 100%;
  min-height: 100vh;
  height: auto;
  background-image: linear-gradient(
    to right top,
    #0a0716,
    #17172d,
    #1f2347,
    #263063,
    #2a3e80,
    #273e83,
    #243f86,
    #203f89,
    #183172,
    #0f245d,
    #061748,
    #030734
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.glass-shade{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;

    background: rgba( 74, 212, 226, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 7.5px );
-webkit-backdrop-filter: blur( 7.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.forgotpasswor-heading{
    font-size: 30px;
    color: white;
    font-weight: 600;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sub-container{
    width: 70%;
    align-items: center;
    justify-content: center;
}
.input-field{
    width: 100%;
}
.side-head{
    font-size: larger;
    color: white;
}
.forgotpasswor-input{
    background-color: #272c61;
}

.forgotpasswor-btn{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px ;
}
.forgotpassword-btn{
    background-color: green;
    padding: 10px 20px;
    border-radius: 10px;
    transition: all 1.2s;
}
.forgotpassword-btn:hover{
    background-color: #001529;
    color: white;
}
@media only screen and (max-width: 768px) {
    .glass-shade{
        width: 90%;
    }
    .sub-container{
        width: 80%;
    }
}