.grid-loading-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .custom-spinner {
        -webkit-animation: spin 1.5s linear infinite;
        animation: spin 1.5s linear infinite;
    }
    .ant-spin-text {
        color: #14487f
    }
    @-webkit-keyframes spin {
        0% {
            -webkit-transform: rotate(0deg);
        }

        100% {
            -webkit-transform: rotate(360deg);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}