.ant-layout {
    height: 88vh;
    // background-color: #ffffff;
  }
  .ant-upload.ant-upload-drag p.ant-upload-drag-icon .anticon { //use
    color: #43b049;
  }
  
  .ant-upload.ant-upload-drag:not(.ant-upload-disabled):hover { //use
    border-color: #43b049 !important;
  }
  
  .ant-btn[disabled] {
    border-radius: 4px !important;
  }
  
  .ant-btn-primary {
    color: white !important;
    border-color: #14487f !important;
    background-color: #14487f !important;
    border-radius: 4px !important;
  }
  
  .ant-btn-primary:not([disabled]):hover {
    opacity: 0.8 !important;
  }
  
  .ant-btn-primary:not([disabled]):focus {
    color: white !important;
    border-color: #14487f !important;
    background-color: #14487f !important;
  }
  
  .ant-btn-primary:not([disabled]):active {
    color: white !important;
    border-color: #14487f !important;
    background-color: #14487f !important;
  }
  
  .ant-layout-content {
    position: relative;
    top: 60px;
    background: #f5f5f5;
    font-size: 12px;
    font-family: 'Nunito Sans';
  }
  
  .ant-btn-default:not([disabled]) {
    border-radius: 4px !important;
  }
  
  .ant-btn-default:not([disabled]):hover {
    opacity: 0.8 !important;
    color: #43b049 !important;
    border: 1px solid #43b049 !important;
  }
  
  .ant-btn-default:not([disabled]):active {
    color: #368c3b !important;
    border: 1px solid #368c3b !important;
  }
  
  .ant-btn-default:not([disabled]):focus {
    border-radius: 4px !important;
    color: #43b049 !important;
    border: 1px solid #43b049 !important;
  }
  